.admin-layout {
    display: grid;
    grid-template-columns: 74% 24%;
    padding: var(--space-6);
    gap: var(--space-4);
}

.admin-banner {
    display: block;
    width: 100%;
    min-height: 160px;
    background-color: var(--color-primary);
    padding: var(--space-3);
    border-radius: var(--radius-md);
    color: var(--neutral-900);
}

.admin-banner .hello {
    display: block;
    width: 100%;
    margin-bottom: var(--space-2);
    font-size: var(--text-xl);
    font-weight: bold;
}

.admin-banner .caption {
    display: block;
    width: 100%;
    margin-bottom: var(--space-2);
    line-height: 1.5rem;
}

.admin-table {
    margin-top: var(--space-3);
    padding: var(--space-3);
    width: 100%;
    border-radius: var(--radius-md);
}

.admin-table .table-title {
    display: inline-block;
    font-size: var(--text-lg);
    margin-bottom: var(--space-2);
}

.admin-table .menu-table{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-table .menu-table .menu-link{
    font-size: var(--text-sm);
}

.admin-table table {
    width: 100%;
}

.admin-table tr {
    margin-bottom: var(--space-2);
}

.admin-table table td {
    padding: var(--space-2) 0px;
}

.admin-table table td img {
    width: 40px;
}

.admin-table table td:nth-child(3) {
    font-size: var(--text-md);
}

.admin-list-box {
    display: block;
    width: 100%;
    padding: var(--space-3);
    margin-bottom: var(--space-3);
    border-radius: var(--radius-md);
}

.admin-list-box:nth-child(1) {
    background-color: var(--warning-300);
}

.admin-list-box:nth-child(2) {
    background-color: var(--success-300);
}

.admin-list-box:nth-child(3) {
    background-color: var(--error-300);
}
