button{
    background: none;
    border: none;
    outline: none;

    cursor: pointer;
}

.btn-primary{
    background: var(--color-primary);
    padding: var(--space-2);
    color: var(--neutral-900);
}

.btn-warning{
    background: var(--warning-400);
    padding: var(--space-2);
    color: var(--neutral-900);
}

.btn-error{
    background: var(--error-500);
    padding: var(--space-2);
    color: var(--neutral-900);
}

.btn-success{
    background: var(--success-500);
    padding: var(--space-2);
    color: var(--neutral-900);
}

.
