.success-message,
.error-message {
    position: fixed;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    padding: var(--space-3) var(--space-6);
    width: max-content;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.error-message{
    background-color: var(--error-100);
}

.success-message{
    background-color: var(--success-100);
}

.alert-hide{
    opacity: 0;
}
