.grid{
    display: grid;
    justify-content: center;
    align-items: stretch;
}

.grid-col-2{
    grid-template-columns: 1fr 1fr;
}

.grid-col-4{
    grid-template-columns: repeat(4, 1fr);
}

.grid-col-6{
    grid-template-columns: repeat(6, 1fr);
}

.grid-col-8{
    grid-template-columns: repeat(8, 1fr);
}
