body{
    font-family: var(--font-family);
    background-color: var(--neutral-900);
    color: var(--neutral-100);
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

main{
    padding: var(--space-6);
}

a{
    text-decoration: none;
}

button{
    outline: none;
    background: none;
    border: none;
}
