:root {

    /* COLORS */

    --color-primary: #00A8E8;
    --color-secondary: #007EA7;
    --color-triary: #003459;

    --shade-00: #ffffff;
    --shade-100: #000000;

    --neutral-50: hsl(218, 6%, 10%);
    --neutral-100: hsl(216, 7%, 20%);
    --neutral-200: hsl(220, 8%, 30%);
    --neutral-300: hsl(220, 9%, 40%);
    --neutral-400: hsl(210, 10%, 50%);
    --neutral-500: hsl(218, 11%, 60%);
    --neutral-600: hsl(216, 12%, 70%);
    --neutral-700: hsl(220, 13%, 80%);
    --neutral-800: hsl(220, 14%, 90%);
    --neutral-900: hsl(210, 20%, 98%);

    --success-900: hsl(144, 61%, 20%);
    --success-800: hsl(143, 64%, 24%);
    --success-700: hsl(142, 72%, 29%);
    --success-600: hsl(142, 76%, 36%);
    --success-500: hsl(142, 71%, 45%);
    --success-400: hsl(142, 69%, 58%);
    --success-300: hsl(142, 77%, 73%);
    --success-200: hsl(141, 79%, 85%);
    --success-100: hsl(141, 84%, 93%);
    --success-50: hsl(138, 76%, 97%);

    --warning-900: hsl(22, 78%, 26%);
    --warning-800: hsl(23, 83%, 31%);
    --warning-700: hsl(26, 90%, 37%);
    --warning-600: hsl(32, 95%, 44%);
    --warning-500: hsl(38, 94%, 50%);
    --warning-400: hsl(43, 96%, 56%);
    --warning-300: hsl(46, 97%, 65%);
    --warning-200: hsl(48, 97%, 77%);
    --warning-100: hsl(48, 96%, 89%);
    --warning-50: hsl(48, 100%, 96%);

    --error-900: hsl(0, 63%, 31%);
    --error-800: hsl(0, 70%, 35%);
    --error-700: hsl(0, 74%, 42%);
    --error-600: hsl(0, 72%, 51%);
    --error-500: hsl(0, 84%, 60%);
    --error-400: hsl(0, 91%, 71%);
    --error-300: hsl(0, 94%, 82%);
    --error-200: hsl(0, 96%, 89%);
    --error-100: hsl(0, 93%, 94%);
    --error-50: hsl(0, 86%, 97%);


    /* RADIUS */

    --radius-sm: 4px;
    --radius-md: 8px;


    /* SHADOW */

    --shadow-xs: 0 0px 6px rgba(0, 0, 0, 0.05);
    --shadow-sm: 0 0px 8px rgba(0, 0, 0, 0.2);
    --shadow-md: 0 2px 10px rgba(0, 0, 0, 1);


    /* SPACING */

    --space-1: 4px;
    --space-2: 8px;
    --space-3: 16px;
    --space-4: 24px;
    --space-5: 32px;
    --space-6: 40px;


    /* TYPOGRAPHY */

    --font-family: @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
    ;

    --text-xs: 12px;
    --text-sm: 14px;
    --text-md: 16px;
    --text-lg: 20px;
    --text-xl: 24px;
    --text-xxl: 32px;
}
